.container {
  background-color: var(--secondary);
  z-index: 999;
}
.navbar {
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 0 auto;
  max-width: var(--max-width);
}

.logo {
  font-size: 2rem;
}

.navbarLinks {
  position: absolute;
  top: -10em;
  right: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-end;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--primary-dark);
  transition: var(--transistion);
  z-index: 998;
}

.open {
  top: 3em;
  opacity: 1;
  transition: var(--transistion);
}

.navbarLink {
  width: 100%;
  text-align: center;
  transition: var(--transistion);
}

.navbarLink > a {
  width: 100%;
  height: 100%;
  padding: 0.5em 0;
  display: block;
  color: var(--secondary);
}

.navbarLink a:hover {
  background-color: var(--primary-light);
  color: var(--focus);

  transition: var(--transistion);
}

.activeLink a {
  color: var(--focus);
}

.navbarBtn {
  font-size: 0.25rem;
  background-color: var(--secondary-bg-1);
  color: var(--primary-text);
  cursor: pointer;
  transition: var(--transistion);
}

.navbarBtn:hover {
  transform: rotate(90deg);
  transition: var(--transistion);
}

@media screen and (min-width: 600px) {
  .navbarBtn {
    display: none;
    pointer-events: none;
  }

  .navbarLinks {
    position: static;
    flex-direction: row;
    flex: 1;
    margin-left: 1em;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 1;
  }
  .navbarLinks a {
    width: auto;
    height: auto;
    padding: auto;
    display: block;
    color: var(--primary);
  }

  .navbarLink a:hover {
    background-color: transparent;
    color: var(--focus-dark);

    transition: var(--transistion);
  }

  .activeLink a {
    color: var(--focus-dark);
  }
}
