.formGroup {
  display: flex;
  align-items: baseline;
  position: relative;
}

.formGroup > label {
  min-width: 6em;
}

.formGroup > input,
.formGroup > .input {
  margin: 1em auto 1em 1em;
  flex: 1;
}

.formBtnGroup {
  justify-content: flex-end;
  display: flex;
}
