.exercise {
  transition: var(--transistion);
  transform: rotate3d(0, 0, 0, 90deg);
  margin-bottom: 1em;
}

.deleted {
  transition: var(--transistion);
  transform: rotate3d(0, 1, 0, 90deg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--primary-dark);
  color: var(--secondary);
  padding: 1em;
  border-radius: 1em 1em 0em 0em;
  box-shadow: 0.5em 0.5em 0.8em #0008;
}

.header p {
  margin-left: 1em;
}

.body {
  border-radius: 0em 0em 1em 1em;
  padding: 1em;
  background-color: var(--secondary);
  box-shadow: 0.5em 0.5em 0.8em #0008;
}

.desc {
  margin-bottom: 1em;
}
.footer {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 1em;
}
.exercise button {
  background-color: transparent;
  cursor: pointer;
}

.editBtn {
  padding: 0;
  margin-bottom: 1em;
}

.editBtn a:hover {
  transform: skew(-10deg);
  transition: var(--transistion);
}

.editBtn a {
  color: var(--success);
  transition: var(--transistion);
}

.deleteBtn {
  color: var(--danger);
  padding: 0;
  margin-left: 1em;
  transition: var(--transistion);
}

.deleteBtn:hover {
  transform: skew(-10deg);
  transition: var(--transistion);
}
